main {
	padding-top: 100px;
}

header {
	background-color: #eebb44;
}

.question-panel {
	border: 5px solid lightgray;
	height: 500px;
	text-align: center;
	position: relative;
}

h1 {
    text-align: center;
}
.question-section {
	margin: 20px;
	font-size: 20px;
    text-align: left;
    padding: 10px;
}

.control-button, .answer-button {
	margin-top: : 20px;
	text-align: center;
}

.control-button {
    position: absolute;
    left: 180px;
    bottom: 20px;
}

.answer-panel {
	border: 5px solid lightgray;
	height: 250px;
	text-align: center;
}

.radio-button {
    border: 3px solid lightgray;
    margin: 3px;
    position: relative;
    margin-bottom: 10px;
}

.choiceRight {
    background-color: green;
}

.choiceWrong {
    background-color: red;
}

.score-panel {
    border: 5px solid lightgray;
    height: 100px;
    text-align: center;
}

.game-over {
    size: 40px;
    font-weight: bold;
    text-align: center;
}

.span.score {
    size: 30px;
    font-weight: bold;

}